body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 0) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}

footer {
    flex: 0 25px;
    float: left;
    margin: 0 30px;
}

footer a {
    float: right;
}

.center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateX(-50%);
}

#home_div {
    padding: 50px 50px 50px 50px;
    border-radius: 70px;
}